
.document {
  font-variation-settings: 'wght' 550;
  transition-duration: 0.1s;
  transition-property: background-color, color;
  font-size: 1rem;
}

.document.selected {
  font-variation-settings: 'wght' 375;
}

