@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  background-color: rgb(241 245 249);
  overflow-x: hidden;
  font-family: 'Open Sans';
}

@layer components {
  .checkbox {
    @apply rounded-full cursor-pointer;
  }
  .task {
    transition-property: top, left;
    transition-duration: .2s;
    transition-timing-function: ease-out;
  }

  .icon-button {
    transition: background-color 0.2s;
    @apply hover:bg-gray-200/50 -mt-1 h-9 p-1.5 rounded-full text-gray-600;
  }
}
