@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  background-color: rgb(241 245 249);
  overflow-x: hidden;
  font-family: 'Open Sans';
}

@layer components {
  .checkbox {
    @apply rounded-full cursor-pointer w-6 h-6;
  }
  .task {
    transition-property: top, left;
    transition-duration: .2s;
    transition-timing-function: ease-out;
  }
}
